.forget-password-container {
    min-height: calc(100vh - 146px);
    padding-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.forget-password-container .container{
    padding:20px;
    border-radius: 5px;
    border: 2px solid green;
    max-width: 600px;
}