/* ============================
   General Styling
============================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    color: #2d3436;
}

/* ============================
   Navbar Styling
============================ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #38845A;
    padding: 10px 20px;
    color: white;
    height: 60px;
}

.navbar-brand a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    list-style-type: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar-links a:hover {
    background-color: #4CAA73;
}

/* ============================ Hamburger Menu ============================ */

.navbar-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    background-color: #38845A;
    border: 0;
}

.navbar-toggle .bar {
    width: 25px;
    height: 4px;
    margin: 3px 0;
    background-color: white;
    
}


/* ============================
   Footer Styling
============================ */
.footer-content {
    background-color: #38845A;
    color: white;
    position: relative;
    height: 120px;
    
    /* Flexbox to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
}


.footer-content a {
    color: #66C08A;
    text-decoration: none;
}

.footer-content p {
    margin: 3px;
}

.footer-content a:hover {
    text-decoration: underline;
}


/* ============================ Media Query for Mobile ============================ */

@media screen and (max-width: 768px) {
    /* Hide the navigation items by default */
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Below the navbar */
        left: 0;
        background-color: #38845A;
        padding: 10px 0;
        text-align: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    /* Show the hamburger menu */
    .navbar-toggle {
        display: flex;
    }

    /* Toggle the navigation items when the hamburger is clicked */
    .navbar-links.active {
        display: flex;
    }
}



